# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Prisma
prisma/migrations/

# Build / IDE
dist/
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
pino-*.log
